In [112]:
import pandas as pd
import os
import nltk

In [114]:
df1=pd.read_csv(r'C:\Users\krish\Desktop\UMD\Capstone\Dataset\OCI_2018-2020.csv', encoding = 'utf_8')

In [115]:
df2=pd.read_csv(r'C:\Users\krish\Desktop\UMD\Capstone\Dataset\OCI_Jobs_2014-2017.csv', encoding = 'utf_8')

In [116]:
merged_oci=df1.append(df2)

In [117]:
merged_oci = merged_oci.drop(['# of Applicants',
 '# of Employees',
 '# of Extended Interview',
 '# of Interview Rooms Requested',
 '# of Not Selected',
 '# of Reserved Interview Slots',
 '# of Total Interview Slots',
 '12Twenty ID',
 'Application Deadline',
 'Approved Date',
 'Industry Duplicate',
 'Interview Room',
 'Job Function',
 'Job Posting Submit Date',
 'Job Status',
 'Job Title Duplicate',
 'Location Type',
 'Metro Area',
 'OCI Contact Address',
 'OCI Contact Title',
 'Preferred Years of Experience',
 'Source of Job Posting',
 'State',
 'US Work Auth Requirement',
 'Visit Is Cancelled'], axis = 1)

In [120]:
#Merging Pr_OCI & merged_oci on Job Title and Interview Dates
df3 = pd.read_csv(r'C:\Users\krish\Desktop\UMD\Capstone\pr_oci.csv', sep=',')
df3.head()

,Date,Job Number,Cancelled,Room Reservation,Test or OCS,Event Type,Employer,Industry,Job Type,Internship,...,Extra 4,Extra 5,Extra 6,Extra 7,Extra 8,Extra 9,Extra 10,Extra 11,Extra 12,(Headers must go through col AM or Pivots will break.)
0,10/21/2014,2139663.0,Yes,0,OCI,OCI,Bloomberg,NaN,Summer/Winter Internship,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/25/2015,2139663.0,No,0,OCI,OCI,Bloomberg,NaN,Summer/Winter Internship,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10/21/2014,2143447.0,No,0,OCI,OCI,Bloomberg,NaN,Full-Time,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3/6/2015,2162454.0,No,0,OCI,OCI,Bloomberg,NaN,Summer/Winter Internship,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3/6/2015,2162455.0,No,0,OCI,OCI,Bloomberg,NaN,Summer/Winter Internship,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
#Creating a key to merge on InterviewDate + Job Title for pr_oci
df3['key1'] = df3["Date"] + df3["Job Title"] + df3["Employer"]

In [122]:
#Creating a key to merge on InterviewDate + Job Title + Company Name for oci_final
merged_oci['key1'] = merged_oci["Interview Date"] + merged_oci["Job Title"] + merged_oci["Company Name"]

In [123]:
#rev = df1.merge(df2,on=['key1'],how='outer') , 
oci = pd.merge(merged_oci , df3[['key1','UG Opps', 'MS Opps', 'MBA Opps']], on = 'key1', how ='left')
oci.head()

,Company Name,Industry,Interview Date,Job Description,Job Title,Student Groups,Type of Job,key1,UG Opps,MS Opps,MBA Opps
0,"Exponential Interactive, Inc.","Accounting, Advertising - Advertising / Market...",3/27/2020,The Performance Strategy Analyst (PSA) will ma...,Performance Strategy Analyst,UG - All Majors - Senior,Full-Time,3/27/2020Performance Strategy AnalystExponenti...,1.0,0.0,0.0
1,"Exponential Interactive, Inc.",Advertising - Advertising / Marketing Services...,3/27/2020,Publisher Development ManagerThe Publisher Dev...,Publisher Development Manager,"Full-time MBA - Seeking Full-time, MBA - Alumn...",Full-Time,3/27/2020Publisher Development ManagerExponent...,0.0,1.0,1.0
2,Alertus Technologies LLC,"Tech - Equipment / Hardware / Networking, Tech...",3/11/2020,Sales Development RepresentativeWe are looking...,Sales Development Representative,MS - Business &amp; Management - Seeking Full-...,Full-Time,3/11/2020Sales Development RepresentativeAlert...,1.0,1.0,0.0
3,EY,Accounting,3/24/2020,Assurance â€“ Audit Internship 2021Â To be consid...,Assurance â€“ Audit Internship 2021,"MS - Accounting - Seeking Internships, UG - Ac...","Internship (Summer), Internship (Fall/Winter/S...",3/24/2020Assurance â€“ Audit Internship 2021EY,1.0,1.0,0.0
4,EY,Accounting,3/24/2020,Tax â€“ Diversified Staff Group â€“ Internship 202...,Tax â€“ Diversified Staff Group â€“ Internship 2021,"MS - Accounting - Seeking Internships, UG - Ac...","Internship (Summer), Internship (Fall/Winter/S...",3/24/2020Tax â€“ Diversified Staff Group â€“ Inter...,1.0,1.0,0.0

In [71]:
#Drop rows
#oci = oci.drop('Unnamed: 0',axis = 1)

In [125]:
len(oci)

2280

In [126]:
print(oci.isnull().sum())

Company Name          0
Industry           1493
Interview Date        0
Job Description     298
Job Title             0
Student Groups       80
Type of Job        1494
key1                  0
UG Opps            1459
MS Opps            1459
MBA Opps           1459
dtype: int64

In [85]:
oci = oci[oci['Job Description'].notna()]

In [86]:
oci = oci[oci['Interview Date'].notna()]

In [87]:
oci['Industry']=oci['Industry'].fillna("Other")

In [88]:
oci = oci.reset_index(drop =True)

In [89]:
#Splitting the data on the basis of month, year and day
mt=[]
dy=[]
year=[]
for i in range(len(oci)):
    date=oci.loc[i,'Interview Date'].split('/')
    date1=date[2].split(' ')
    mt.append(date[0])
    dy.append(date[1])
    year.append(date1[0])
        
oci['month']=mt
oci['day']=dy
oci['year']=year

In [90]:
oci=oci.sort_values('year')

In [91]:
oci = oci.reset_index(drop = True)

In [92]:
oci.head()

,Company Name,Industry,Interview Date,Job Description,Job Title,Student Groups,Type of Job,key1,UG Opps,MS Opps,MBA Opps,month,day,year
0,MBA Focus,Other,1/1/2009 0:00,TEST - DO NOT APPLY; DO NOT DELETE,TEST - DO NOT APPLY; DO NOT DELETE,"Executive MBA, Full-time MBA, MS - Accounting,...",NaN,1/1/2009 0:00TEST - DO NOT APPLY; DO NOT DELET...,NaN,NaN,NaN,1,1,2009
1,KPMG LLP,Other,10/1/2014 0:00,"\rTo view this job description, please click o...","Audit Intern (Summer 2015)-Short Hills, NJ (57...","MS - Accounting, Undergraduate Program",NaN,10/1/2014 0:00Audit Intern (Summer 2015)-Short...,NaN,NaN,NaN,10,1,2014
2,KPMG LLP,Other,10/1/2014 0:00,"\rTo view this job description, please click o...",Audit Intern (Summer 2015)-Baltimore (5563BR),"MS - Accounting, Undergraduate Program",NaN,10/1/2014 0:00Audit Intern (Summer 2015)-Balti...,NaN,NaN,NaN,10,1,2014
3,KPMG LLP,Other,10/1/2014 0:00,"\rTo view this job description, please click o...",Audit Intern (Summer 2015)-New York City (5618BR),"MS - Accounting, Undergraduate Program",NaN,10/1/2014 0:00Audit Intern (Summer 2015)-New Y...,NaN,NaN,NaN,10,1,2014
4,KPMG LLP,Other,10/1/2014 0:00,"\rTo view this job description, please click ...",Audit Intern (Summer 2015)-Federal Practice-DC...,"MS - Accounting, Undergraduate Program",NaN,10/1/2014 0:00Audit Intern (Summer 2015)-Feder...,NaN,NaN,NaN,10,1,2014

In [31]:
#####################  Industry  ##################################

In [94]:
#### Splitting multiple industries into rows
ind = []
result = pd.DataFrame()
for i in range(len(oci)):
        ind = oci.loc[i,'Industry'].split(',')
        if len(ind) > 1:
            for j in range(len(ind)):
                result = result.append(oci.loc[[i]].assign(Industry = ind[j]), ignore_index=True)
        else:
            result = result.append(oci.loc[[i]], ignore_index=True)

1201
1202
1203
1204
1205
1207
1208
1209
1213
1214
1215
1221
1227
1228
1229
1230
1239
1240
1241
1243
1244
1250
1256
1259
1263
1264
1265
1266
1267
1275
1278
1285
1291
1292
1295
1299
1300
1303
1304
1311
1313
1314
1315
1323
1324
1327
1328
1331
1332
1347
1357
1358
1362
1363
1368
1372
1373
1376
1395
1402
1407
1408
1409
1410
1416
1417
1466
1467
1470
1471
1473
1475
1478
1490
1495
1496
1497
1498
1499
1500
1501
1502
1503
1505
1506
1507
1508
1509
1510
1515
1516
1517
1518
1519
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1546
1547
1555
1556
1562
1570
1571
1585
1586
1587
1590
1592
1596
1598
1602
1611
1613
1619
1624
1635
1638
1639
1640
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1672
1673
1701
1709
1712
1713
1725
1735
1750
1752
1753
1757
1758
1759
1761
1762
1768
1778
1780
1782
1785
1791
1799
1810
1816
1819
1820
1823
1827
1828
1829
1830
1834
1837
1838
1851
1852
1853
1858
1860
1862
1867
1868
1874
1875
1876
1877
1878
1882
1883
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1906
1910
1911
1912
1932
1934
1936
1937
1941
1943
1945
1950
1951
1952
1954
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1976
1977
1978
1980
1981

In [95]:
result = result.reset_index(drop = True)

In [96]:
len(result)

2983

In [97]:
result['Industry'] = result['Industry'].str.strip()

In [98]:
result['Industry'].unique()

array(['Other', 'Financial - Investment Management',
       'Financial - Commercial Banking', 'Accounting',
       'Consulting - Technology', 'Consulting - General',
       'Financial - General', 'Financial - Other',
       'Advertising - Advertising / Marketing Services',
       'Consulting - Other', 'Human Resources / Recruitment',
       'Healthcare - Providers & Services', 'Healthcare - Biotechnology',
       'Pharmaceutical - General', 'Pharmaceutical - Manufacturers',
       'Healthcare - Other', 'Consulting - Healthcare', 'Financial - Tax',
       'Consulting - Strategic / Management',
       'Government - Local / State / Federal',
       'Consulting - Human Capital', 'Real Estate - Commercial',
       'Financial - Diversified Financial Services',
       'Financial - Insurance',
       'Financial - Investment Banking / Brokerage',
       'Financial - Treasury', 'Consulting - Marketing',
       'Transportation & Logistics - General',
       'Transportation & Logistics - 3PL',
       'Transportation & Logistics - Motor Carrier',
       'Transportation & Logistics - Railroad',
       'Transportation & Logistics - Supply Chain',
       'Real Estate - General', 'Real Estate - Other',
       'Real Estate - Residential', 'Real Estate - Services', 'General',
       'Education', 'Manufacturing - Chemicals', 'Retail - General',
       'Hospitality - General', 'Consumer Products - Other',
       'Advertising - Communications / Public Relations',
       'Advertising - General', 'Consumer Products - Electronics',
       'Consumer Products - General', 'Engineering Services',
       'Entertainment - General',
       'Entertainment - Sports & Sports Management', 'Media - General',
       'Media - Radio / TV / Cable / Film',
       'Tech - Equipment / Hardware / Networking', 'Tech - General',
       'Tech - Multimedia Products & Services', 'Tech - Other',
       'Tech - Software', 'Telecom - General', 'Telecom - Other',
       'Telecom - Services', 'Consulting - Supply Chain',
       'Entertainment - New Media', 'Entertainment - Other',
       'Media - Other', 'Media & Entertainment & Sports - Other',
       'Government - General', 'Manufacturing - Other',
       'Manufacturing - General', 'Automotive', 'Pharmaceutical - Other',
       'Government - Other', 'Healthcare - Medical Devices',
       'Financial - Private Equity', 'Consulting - Nonprofit',
       'Consumer Products - Apparel / Textiles',
       'Aerospace / Aviation / Defense', 'Agribusiness', 'Construction',
       'Consulting - Biotechnology', 'Consulting - Gas and Oil',
       'Consumer Products - Beverages / Food',
       'Consumer Products - Household / Personal',
       'Consumer Products - Luxury Goods',
       'Consumer Products - Tobacco / Alcohol',
       'Economic Development / Microfinance',
       'Energy - Alternative Energy', 'Energy - Energy Trading',
       'Energy - General', 'Energy - Oil & Gas', 'Energy - Other',
       'Energy - Utility Services (Electric / Water / etc.)',
       'Entertainment - Leisure / Recreation',
       'Environmental Services & Sustainability',
       'Financial - Hedge Funds', 'Financial - Public Finance',
       'Financial - Research & Ratings', 'Financial - Venture Capital',
       'Government - Military', 'Healthcare - General',
       'Hospitality - Tourism', 'International Trade - Import / Export',
       'Law / Legal Services', 'Manufacturing - Heavy Equipment',
       'Manufacturing - Packaging', 'Manufacturing - Plastics / Rubber',
       'Media - Publishing (Print / Web)',
       'Natural Resources - Forest & Paper Products',
       'Natural Resources - General',
       'Natural Resources - Metals / Mining',
       'Nonprofits & Social Enterprises',
       'Pharmaceutical - Distribution / Wholesale',
       'Tech - Internet Services / E-Commerce', 'Telecom - Manufacturing',
       'Consulting - Design', 'Energy - Cleantech',
       'Hospitality - Lodging', 'Hospitality - Transportation',
       'Transportation & Logistics - Marine (Ocean and Port Authorities)',
       'Advertising - Other', 'Professional Services - Other',
       'Government & Non Profit & Education - General'], dtype=object)

In [99]:
# group some of the categories together.

msk = result['Industry'].isin(['Professional Services - Other', 
                               'Law / Legal Services',
                               'Human Resources / Recruitment',
                               'Environmental Services & Sustainability',
                               'Engineering Services',
                               'Advertising - Advertising / Marketing Services',
                               'Advertising - Communications / Public Relations',
                               'Advertising - Other',
                               'Advertising',
                               'Advertising - Advertising / Marketing Services',
                               'Advertising - Communications / Public Relations',
                               'Advertising - General',
                               'Advertising - Other'])
result.loc[msk, 'Industry'] = 'Professional Services'

msk = result['Industry'].isin(['Consulting - Biotechnology',
                               'Consulting',
                               'Consulting - Management', 
                               'Consulting - Strategy',
                               'Consulting - Design',
                               'Consulting - Gas and Oil',
                               'Consulting - General',
                               'Consulting - Healthcare',
                               'Consulting - Human Capital',
                               'Consulting - Marketing',
                               'Consulting - Nonprofit',
                               'Consulting - Other',
                               'Consulting - Strategic / Management',
                               'Consulting - Supply Chain',
                               'Consulting - Technology'])
result.loc[msk, 'Industry'] = 'Consulting'

msk = result['Industry'].isin(['Consumer Products - Apparel / Textiles',
                               'Consumer Products',
                               'Consumer Products - Beverages / Food',
                               'Consumer Products - Electronics',
                               'Consumer Products - General',
                               'Consumer Products - Household / Personal',
                               'Consumer Products - Luxury Goods',
                               'Consumer Products - Other',
                               'Consumer Products - Tobacco / Alcohol',
                               'Consumer Products - Tobacco / Alcohol'])
result.loc[msk, 'Industry'] = 'Consumer Packaged Goods'

msk = result['Industry'].isin(['Economic Development / Microfinance', 
                               'Education','Nonprofits & Social Enterprises'])
result.loc[msk, 'Industry'] = 'Government & Non Profit & Education'

msk = result['Industry'].isin(['Energy - Alternative Energy',
                               'Energy / Utilities',
                               'Energy / Utilities - Cleantech',
                               'Energy / Utilities - Energy Trading',
                               'Energy / Utilities - Oil / Gas',
                               'Energy / Utilities - Utility Services (Electric/ Water/ etc.)',
                               'Energy / Utilities - Other',
                               'Energy / Utilities - Alternative Energy',
                               'Energy - Cleantech',
                               'Energy - Energy Trading',
                               'Energy - General',
                               'Energy - Oil & Gas',
                               'Energy - Other',
                               'Energy - Utility Services (Electric / Water / etc.)'])
result.loc[msk, 'Industry'] = 'Energy'

msk = result['Industry'].isin(['Entertainment - General',
                               'Entertainment - Leisure / Recreation',
                               'Entertainment - New Media',
                               'Entertainment - Other',
                               'Entertainment',
                               'Entertainment - Sports & Sports Management'])
result.loc[msk, 'Industry'] = 'Media & Entertainment & Sports'

msk = result['Industry'].isin(['Financial - Commercial Banking',
                               'Financial - Diversified Financial Services',
                               'Financial - General',
                               'Financial - Hedge Funds',
                               'Financial - Insurance',
                               'Financial - Investment Banking / Brokerage',
                               'Financial - Investment Management',
                               'Financial - Other',
                               'Financial - Private Equity',
                               'Financial - Public Finance',
                               'Financial - Research & Ratings',
                               'Financial - Tax',
                               'Financial',
                               'Accounting',
                               'Financial - Treasury',
                               'Financial - Venture Capital'])
result.loc[msk, 'Industry'] = 'Financial Services'

msk = result['Industry'].isin(['International Trade - Import / Export',
                               'General',
                               'Natural Resources - Forest & Paper Products', 
                               'Natural Resources - General',
                               'Natural Resources - Metals / Mining',
                               'Natural Resources',
                               'Natural Resources - Other',
                               'Undefined',
                               'Aerospace / Aviation / Defense', 
                               'Agribusiness', 
                               'Automotive',
                               'Approved',
                               'Other'])
result.loc[msk, 'Industry'] = 'Other'

msk = result['Industry'].isin(['Government - General',
                               'Government - Local / State / Federal',
                               'Government - Military',
                               'Government - Other',
                               'Government',
                               'Nonprofits & Social Enterprises',
                               'Government & Non Profit & Education - General'])
result.loc[msk, 'Industry'] = 'Government & Non Profit & Education'

msk = result['Industry'].isin(['Healthcare - Biotechnology',
                               'Healthcare',
                               'Healthcare & Pharmaceuticals', 
                               'Healthcare - General',
                               'Healthcare - Medical Devices',
                               'Healthcare - Other',
                               'Healthcare - Providers & Services',
                               'Pharmaceutical',
                               'Pharmaceutical - Distribution / Wholesale',
                               'Pharmaceutical - General',
                               'Pharmaceutical - Manufacturers',
                               'Pharmaceutical - Other'])
result.loc[msk, 'Industry'] = 'Healthcare & Pharmaceuticals'

msk = result['Industry'].isin(['Hospitality - General',
                               'Hospitality / Tourism',
                               'Hospitality - Lodging',
                               'Hospitality - Tourism',
                               'Hospitality - Transportation'])
result.loc[msk, 'Industry'] = 'Hospitality'

msk = result['Industry'].isin(['Manufacturing - Chemicals',
                               'Manufacturing',
                               'Manufacturing - General',
                               'Manufacturing - Heavy Equipment',
                               'Manufacturing - Other',
                               'Manufacturing - Packaging',
                               'Manufacturing - Plastics / Rubber'])
result.loc[msk, 'Industry'] = 'Manufacturing'

msk = result['Industry'].isin(['Media - General',
                               'Media',
                               'Media - Other',
                               'Media - Publishing (Print / Web)',
                               'Media - Radio / TV / Cable / Film',
                               'Media & Entertainment & Sports - Other'])
result.loc[msk, 'Industry'] = 'Media & Entertainment & Sports'

msk = result['Industry'].isin(['Real Estate - Commercial',
                               'Real Estate', 
                               'Construction',
                               'Real Estate - General',
                               'Real Estate - Other',
                               'Real Estate - Residential',
                               'Real Estate - Services'])
result.loc[msk, 'Industry'] = 'Real Estate & Construction'

msk = result['Industry'].isin(['Retail - General', 'Retail']) 
result.loc[msk, 'Industry'] = 'Retail'

msk = result['Industry'].isin(['Tech - Equipment / Hardware / Networking',
                               'Tech - General',
                               'Technology',
                               'Technology - Equipment / Hardware / Networking',
                               'Technology - Software', 
                               'Technology - Other', 
                               'Telecom',
                               'Technology - Other',
                               'Technology - Internet Services / E-Commerce',
                               'Tech - Internet Services / E-Commerce',
                               'Technology - Multimedia Products & Services',
                               'Technology - Internet Services / E-Commerce',
                               'Tech - Multimedia Products & Services',
                               'Tech - Other',
                               'Tech - Software',
                               'Telecom - General',
                               'Telecom - Manufacturing',
                               'Telecom - Other',
                               'Telecom - Services'])
result.loc[msk, 'Industry'] = 'Technology'

msk = result['Industry'].isin(['Transportation & Logistics - 3PL',
                               'Transportation',
                               'Transportation & Logistics', 
                               'Transportation - 3PL', 
                               'Logistics',
                               'Transportation - Motor Carrier', 
                               'Transportation - Railroad',
                               'Transportation - Supply Chain',
                               'Transportation - Marine (Ocean and Port Authorities)',
                               'Transportation & Logistics - General',
                               'Transportation & Logistics - Marine (Ocean and Port Authorities)',
                               'Transportation & Logistics - Motor Carrier',
                               'Transportation & Logistics - Railroad',
                               'Transportation & Logistics - Supply Chain'])
result.loc[msk, 'Industry'] = 'Transportation & Logistics'

In [100]:
result['Industry'].unique()

array(['Other', 'Financial Services', 'Consulting',
       'Professional Services', 'Healthcare & Pharmaceuticals',
       'Government & Non Profit & Education',
       'Real Estate & Construction', 'Transportation & Logistics',
       'Manufacturing', 'Retail', 'Hospitality',
       'Consumer Packaged Goods', 'Media & Entertainment & Sports',
       'Technology', 'Energy'], dtype=object)

In [101]:
result.drop_duplicates(inplace = True)

In [102]:
result=result.sort_values('year')

In [103]:
result.tail()

,Company Name,Industry,Interview Date,Job Description,Job Title,Student Groups,Type of Job,key1,UG Opps,MS Opps,MBA Opps,month,day,year
2668,Grant Thornton LLP,Financial Services,3/9/2020,Please apply to the position/location you are ...,Tax Intern - Winter 2021- Summer Leadership Pr...,"UG - Accounting - Junior, UG - Accounting - So...",Internship (Fall/Winter/Spring),3/9/2020Tax Intern - Winter 2021- Summer Leade...,1.0,0.0,0.0,3,9,2020
2669,Deloitte,Financial Services,3/10/2020,**HOW TO APPLY**Please read this section in it...,"Audit & Assurance Staff Intern, Summer 2021","UG - Accounting - Junior, UG - Accounting - So...",Internship (Summer),"3/10/2020Audit & Assurance Staff Intern, Summe...",1.0,0.0,0.0,3,10,2020
2670,Deloitte,Financial Services,3/10/2020,Deloitte Risk & Financial Advisory Intern â€“ Go...,Deloitte GPS Risk and Financial Advisory Exter...,"UG - Accounting - Junior, UG - Accounting - So...",Externship,3/10/2020Deloitte GPS Risk and Financial Advis...,0.0,0.0,0.0,3,10,2020
2661,EY,Financial Services,3/24/2020,Assurance â€“ Audit Internship 2021Â To be consid...,Assurance â€“ Audit Internship 2021,"MS - Accounting - Seeking Internships, UG - Ac...","Internship (Summer), Internship (Fall/Winter/S...",3/24/2020Assurance â€“ Audit Internship 2021EY,1.0,1.0,0.0,3,24,2020
2960,"Exponential Interactive, Inc.",Transportation & Logistics,3/27/2020,The Performance Strategy Analyst (PSA) will ma...,Performance Strategy Analyst,UG - All Majors - Senior,Full-Time,3/27/2020Performance Strategy AnalystExponenti...,1.0,0.0,0.0,3,27,2020

In [104]:
result.to_csv("CategorizedOCI.csv")

In [105]:
############################################